<!DOCTYPE html>

{% extends "base.html" %}


{% block title%}Home{% endblock %}

{% block content %}

<h1 align="center">Make an entry</h1>

{%for workout in user.workouts%}
{{workout.name}}
{{workout.id}}
{%endfor%}

<br/>
<br/>

{%for exercise in user.exercises%}
{{exercise.name}}
{%endfor%}

<button onclick="DoSubmit()"> help </button>

<br/>

<select class="text_select" id="field_6" name="field_6" onchange = "notEmpty()">    
    <option value="- Select -">- Select -</option>  
    {%for workout in user.workouts%}
        <option value="[workout.name]">{{workout.name}}</option>
        {%endfor%}
    </select>
    
<label class="form_field">You selected option <span id="aggregator_name"></span></label>

{%for workout in user.workouts %}
        <a value="[workout.name]">{{workout.id}}</a>
        <a value="[workout.name]">hi</a>
{%endfor%}

{%set x = 2%}
<form >
{%for exercise in user.exercises%}
    
    {%if exercise.workout_id == x%}
        
        <label for="name">{{exercise.name}}</label><br/>
        <label for="reps">No. of reps</label>
        <input type="number" id="[exercise.name]reps" name="[exercise.name]reps" value="0">
        <label for="weight">Weight lifted(kg)</label>
        <input type="float" id="[exercise.name]mass" name="[exercise.name]mass" value="0"><br><br>

    {%endif%}
{%endfor%}
<input type="submit" value="Submit">
 
</form> 
    





{%endblock%}
